@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;

 
}
.navb{
    width: 100%;
}

html{
    font-family: 'Chela One',;
}
nav {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 40px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #64697D;
    font-size: 15px;
    font-weight: 600;   
}

.search {
    width: 100%;
    height: 300px;
}

 .search-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 

.search-bar input {
    display: flex;
    width: 700px;
    height: 65px;
    border-radius: 30px;
}

input::placeholder {
    font-size: 18px;
    padding-left: 25px;
}
.container{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  
    
}

.text {
    display: flex;
    flex-direction: column;
}
.container h1{
   color: #183153;
}

.container img{
    width: 400px;
    height: 200px;
}
.block{
    width: 100%;
    height: 100%;
}
.yaz{
    display: flex;
}